/* Reset Default Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Html, Body */
html, body {
    height: 100%;
}

/* Body  */
body {
    display: flex;
    flex-direction: column;
}

/* Main  */
main {
    flex: 1;
} 

/* Navbar */
.navbar {
    position: sticky;
    top: 0;
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

/* Hero Section */
.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin-left: 100px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.image-container {
    flex-basis: 60%;
    margin-right: 350px;
    margin-left: 20px;
}

.image-container img {
    width: 100%;
    height: auto;
    border: #333 solid 10px;
    border-radius: 50px;
}

.text-container {
    flex-basis: 80%;
    margin-right: 120px;
    margin-left: 20px;
}

.text-container h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.text-container a {
    text-decoration: none;
    color: #337ab7;
    transition: color 0.2s ease;
}

.text-container a:hover {
    color: #f0082f;
}

/* Fixed Box */
.fixed-box {
    position: fixed;
    bottom: 25px;
    right: 25px;
    background-color: #4c32df;
    color: #ffffff;
    width: 300px;
    text-align: center;
    padding: 10px;
    border-radius: 15px;
}

/* Gallery Section */
.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    margin-right: 100px;
    margin-left: 100px;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 80px;
    padding-top: 80px;
    padding-bottom: 160px;

}

.gallery img {
    width: 100%;
    height: 565px;
    border: #333 solid 10px;
    border-radius: 55px;
}

/* Footer */
footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    clear: both; 
    width: 100%;
    bottom: 0;
    border-top: 6px solid #4c32df;
}

/* Media Query  */
@media (max-width: 768px) {
    .hero {
        flex-direction: column;
    }
    .image-container {
        margin-right: 0;
    } 
    .gallery {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {
    .gallery {
        grid-template-columns: 1fr;
    }
    .fixed-box {
        display: none;
    }
}